<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.loginServlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.registerServlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.homeServlet.homeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.profileServlet.profileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profileServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>createCourseServlet</servlet-name>
    <servlet-class>com.createCourseServlet.createCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createCourseServlet</servlet-name>
    <url-pattern>/createCourseServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminPannelServlet</servlet-name>
    <servlet-class>com.adminPannel.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPannelServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>

<!--  <servlet>-->
<!--    <servlet-name>CourseProfileServlet</servlet-name>-->
<!--    <servlet-class>com.courseProfile.CourseProfileServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>CourseProfileServlet</servlet-name>-->
<!--    <url-pattern>/courseProfile</url-pattern>-->
<!--  </servlet-mapping>-->

    <servlet>
      <servlet-name>setnewPass</servlet-name>
      <servlet-class>com.loginServlet.setnewPass</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>setnewPass</servlet-name>
      <url-pattern>/setnewPass</url-pattern>
    </servlet-mapping>

  <servlet>
    <servlet-name>resetPassServlet</servlet-name>
    <servlet-class>com.loginServlet.resetPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetPassServlet</servlet-name>
    <url-pattern>/resetPassServlet</url-pattern>
  </servlet-mapping>


  <!--  <servlet>-->
<!--    <servlet-name>AdminPannelServlet1</servlet-name>-->
<!--    <servlet-class>com.adminPannel.DisplayDataServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>AdminPannelServlet1</servlet-name>-->
<!--    <url-pattern>/DisplayDataServlet</url-pattern>-->
<!--  </servlet-mapping>-->

  <context-param>
    <description>Location to store uploaded files</description>
    <param-name>file-upload</param-name>
    <param-value>D:\Project\LMS\src\main\webapp\image</param-value>
  </context-param>

</web-app>
